<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>УИК №1383</h4>
<input type="button" value="Внесение информации в уик №1383"
       onclick="window.location.href = '/update-information-station/1383'"/>
<br>
<h4>УИК №1386</h4>
<input type="button" value="Внесение информации в уик №1386"
       onclick="window.location.href = '/update-information-station/1386'"/>
<br>
<h4>УИК №1388</h4>
<input type="button" value="Внесение информации в уик №1388"
       onclick="window.location.href = '/update-information-station/1388'"/>
<br>
<h4>УИК №1390</h4>
<input type="button" value="Внесение информации в уик №1390"
       onclick="window.location.href = '/update-information-station/1390'"/>
<br>
<h4>УИК №1392</h4>
<input type="button" value="Внесение информации в уик №1392"
       onclick="window.location.href = '/update-information-station/1392'"/>
<br>
<h4>УИК №1460</h4>
<input type="button" value="Внесение информации в уик №1460"
       onclick="window.location.href = '/update-information-station/1460'"/>
<br>
<h4>УИК №1461</h4>
<input type="button" value="Внесение информации в уик №1461"
       onclick="window.location.href = '/update-information-station/1461'"/>
<br>
<h4>УИК №1462</h4>
<input type="button" value="Внесение информации в уик №1462"
       onclick="window.location.href = '/update-information-station/1462'"/>
<br>
<h4>УИК №1463</h4>
<input type="button" value="Внесение информации в уик №1463"
       onclick="window.location.href = '/update-information-station/1463'"/>
<br>
<h4>УИК №1464</h4>
<input type="button" value="Внесение информации в уик №1464"
       onclick="window.location.href = '/update-information-station/1464'"/>
<br>
<h4>УИК №2914</h4>
<input type="button" value="Внесение информации в уик №2914"
       onclick="window.location.href = '/update-information-station/2914'"/>
<br>
<h4>УИК №2915</h4>
<input type="button" value="Внесение информации в уик №2915"
       onclick="window.location.href = '/update-information-station/2915'"/>
<br>
<h4>УИК №2916</h4>
<input type="button" value="Внесение информации в уик №2916"
       onclick="window.location.href = '/update-information-station/2916'"/>
<br>
<h4>УИК №2917</h4>
<input type="button" value="Внесение информации в уик №2917"
       onclick="window.location.href = '/update-information-station/2917'"/>
<br>
<h4>УИК №2918</h4>
<input type="button" value="Внесение информации в уик №2918"
       onclick="window.location.href = '/update-information-station/2918'"/>
<br>
<h4>УИК №1549</h4>
<input type="button" value="Внесение информации в уик №1549"
       onclick="window.location.href = '/update-information-station/1549'"/>
<br>
<h4>УИК №1550</h4>
<input type="button" value="Внесение информации в уик №1550"
       onclick="window.location.href = '/update-information-station/1550'"/>
<br>
<h4>УИК №1551</h4>
<input type="button" value="Внесение информации в уик №1551"
       onclick="window.location.href = '/update-information-station/1551'"/>
<br>
<h4>УИК №1552</h4>
<input type="button" value="Внесение информации в уик №1552"
       onclick="window.location.href = '/update-information-station/1552'"/>
<br>
<h4>УИК №1553</h4>
<input type="button" value="Внесение информации в уик №1553"
       onclick="window.location.href = '/update-information-station/1553'"/>
<br>
<h4>УИК №2964</h4>
<input type="button" value="Внесение информации в уик №2964"
       onclick="window.location.href = '/update-information-station/2964'"/>
<br>
<h4>УИК №2965</h4>
<input type="button" value="Внесение информации в уик №2965"
       onclick="window.location.href = '/update-information-station/2965'"/>
<br>
<h4>УИК №2966</h4>
<input type="button" value="Внесение информации в уик №2966"
       onclick="window.location.href = '/update-information-station/2966'"/>
<br>
<h4>УИК №2967</h4>
<input type="button" value="Внесение информации в уик №2967"
       onclick="window.location.href = '/update-information-station/2967'"/>
<br>
<h4>УИК №2968</h4>
<input type="button" value="Внесение информации в уик №2968"
       onclick="window.location.href = '/update-information-station/2968'"/>
<br>
</body>
</html>